@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background-color: lightblue;
  color: #ff913d;
  font-family: 'Roboto', sans-serif;
}
a{
  color: green;
  text-decoration: none;
}
h1, h2, h3{
  color: #0077ff;
}
ul{
   list-style: none;
   display: flex;
}
.block{
  display: block;
  width: 170px;
  height: 40px;
  margin-top: 10px;
}

.nietcurrent{
  color: #EDF5E1;
  text-decoration: none;
  background-color: #5CDB95;
  color: #05386B;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  width: 170px;
  margin-right: 5px;
}
.current{
  color: #EDF5E1;
  text-decoration: none;
  background-color: #5CDB95;
  padding: 10px 60px 10px 60px;
  color: #05386B;
  text-align: center;
  height: 20px;
  border-radius: 10px;
  width: 50px;
  margin-right: 5px;
}
ul li:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #9effc3;
}
img#tijger{
  float: right;
  width: 100px;
  heigth: 117px;
}
p {
  border: 1px solid white;
  line-height: 25px;
  background-color: #042b52;
  padding: 10px;
  border-style: solid dashed;
  font-size: 16px;
}
