ul {
  display: flex;
}

li {
  background-color: blue;
  width: 100px;
  list-style-type: none;
  border: 2px solid yellow;
  margin-left: 10px;
  padding: 20px;
  border-radius: 50px;
}

li:hover {
  background-color: darkblue;
}
