body{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff913d;
}
a{
  color: green;
}
h1{
  color: #0077ff;
}
h2{
  color: #0077ff;
}
h3{
  color: #0077ff;
}
